.wrapper {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 100;
}

.wrapper__visible {
  visibility: visible;
}

.container {
  height: 100%;
}

.column {
  height: 100%;
}

.column::after {
  background-color: rgba(0, 0, 0, .1);
  content: '';
  display: block;
  height: 100%;
  width: 100%;
}
